<html th:replace="~{Farmer/Farmerbase::layout(~{::main})}">
	<body>
		<main>
			
			<div class="container mt-5">
						    <div class="row justify-content-center">
						      <div class="col-md-6">
						        <div class="card shadow">
						          <div class="card-header bg-success text-white text-center">
						            <h4 class="mb-0">Change Password</h4>
						          </div>
						          <div class="card-body">
						            <form method="post">
						              <div class="mb-3">
						                <label for="currentPassword" class="form-label">Enter Old Password</label>
						                <input type="password" name="oldPassword" class="form-control" required placeholder="Enter current password">
						              </div>
						              <div class="mb-3">
						                <label for="newPassword" class="form-label">Enter New Password</label>
						                <input type="password" name="newPassword" class="form-control" required placeholder="Enter new password">
						              </div>
						              <div class="mb-3">
						                <label for="confirmPassword" class="form-label">Enter Confirm Password</label>
						                <input type="password" name="confirmPassword" class="form-control" required placeholder="Confirm new password">
						              </div>
						              <div class="mt-4 text-center">
						                <button type="submit" class="btn btn-success btn-sm">Update Password</button>
						              </div>
									  
						            </form>
						          </div>
						        </div>
						      </div>
						    </div>
						  </div>
						
	
		</main>
	</body>
</html>